#project{
    width: 100vw;
    max-width: 65vw;
    margin: 10vw auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile img{
    width: 100%;
    height: 200px;         
  object-fit: cover;     
  border-radius: 8px;    
  margin-bottom: 10px;
}
.project-header{
    text-align: center;
    margin-bottom: 30px;
}

.project-grid{
    display: flex;
    justify-content: center;
  
    gap:20px;
    width: 100%;
}

.tile{
    flex:1;
    min-width: 250px;
    min-height: 500px;
    background: rgb(30,30,30);
    border-radius: 20px;
    padding: 20px;
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tile p {
  flex-grow: 1; /* make text take up remaining space */
}

.tech-stack {
  margin-top: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;   /* allows wrapping if many tags */
  gap: 10px;         /* space between tags */
}

.tag {
  background: rgb(20,20,20);       /* blue pill background */
  color: white;
  padding: 6px 14px;
  border-radius: 20px;       /* pill shape */
  font-size: 0.9rem;
  font-weight: 500;
  display: inline-block;
}

.tag:hover{
    background: rgb(30,30,30);
    color:lightblue;
}
