#intro{
    height: calc(100vh-4rem);
    width: 100vw;
    max-width: 75vw;
    margin:0 auto;
    display: flex;
    align-content: center;
    overflow: hidden;
}

.introo{
    height: 35vw;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello{
    font-size: 1.75rem;
    font-weight: 100;

}

.introName{
    color: skyblue;
    
}
.Intropara{
    font-size: medium;
    font-weight: 100;
    margin-left: 5px;
    letter-spacing: 1px;
}
.resume{
    background: white;
    margin: 1rem 0;
    padding: 0.7rem 0.7rem;
    border: none;
    border-radius: 2rem;
}
.resume:hover{
    background: lightblue;
    cursor: pointer;
}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.7rem 0.7rem;
    border: none;
    border-radius: 2rem;
    margin-right:20px;
}
.btn:hover{
    background: skyblue;
    cursor: pointer;
}

.profile-image{
    display:flex;
    align-items: center;
}

.links{
    display: flex;
  
  margin-top: 40px;
  justify-content: center;
  align-items: center;

}



.git{
    background: rgb(20,20,20);
    padding-right: 20px;
    
}

.linkedin{
    background: rgb(20,20,20);
    padding-right: 20px;
}

.instagram{
    background : rgb(20,20,20);
}