*{
    margin:0;
    padding:0;
    text-decoration: none;
    background: transparent;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


body{
    background: rgb(20, 20, 20);
    color:white;
}