#skills{
    overflow: hidden;
    
    width: 100vw;
    max-width: 65vw;
    margin: 10vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    
}

.title:hover{
    color: lightblue;
}

.skilldes{
    font-weight: 400;
    font-size: 1rem;
   
}
.skilldes:hover{
    color: lightblue;
}
.title1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    
}
.title1:hover{
    color:lightblue;

}
.container{
    max-width: 65rem;
    display: flex;
    justify-content: space-between;
    
}
.skill{
    font-weight: 400;
    font-size: 1rem;
    width:100px auto;
    padding:5px;
    
    margin: 0 20px;
    background: rgb(30 30 30);
    border-radius: 5px;
    
}

.skill:hover{
    color: lightblue;
}